.rightContainer {
  width: 50%;
}

.rightInnerContainer {
  /* background-color: red; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  position: absolute;

  height: 20vw;
  width: 20vw;
  min-height: 250px;
  min-width: 250px;
  max-width: 300px;
  max-height: 300px;
}

[data-theme="dark"] .circle {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(24, 33, 51, 0.6);
}

.circle img {
  height: 100%;
  width: 100%;
}

.rectangle {
  position: absolute;

  height: 25vw;
  width: 25vw;
  min-height: 300px;
  min-width: 300px;
  max-width: 375px;
  max-height: 375px;
}

.rectangle .profileImg {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .rightContainer {
    width: 100%;
    height: 350px;
  }
  .rightInnerContainer {
    bottom: 20px;
    left: 10px;
  }
  .rectangle {
    min-height: 250px;
    min-width: 250px;
  }
  .circle {
    min-height: 200px;
    min-width: 200px;
  }
}
