:root {
  --white-color: #fcf9f9;
  --orange-color: #f77319;

  --bg-section-1: #e8f7fb;
  --bg-main: linear-gradient(
    -181.15967834913deg,
    rgba(232, 247, 251, 255) 50%,
    rgba(247, 247, 247, 255) 85%
  );

  --text-primary: #707070;
  --text-secondary: #f77319;

  font-size: 16px;
}

@media only screen and (max-width: 979px) {
  :root {
    font-size: 14px;
  }
}

/* @media only screen and (max-width: 767px) {
  :root {
    font-size: 14px;
  }

} */

[data-theme="dark"] body {
  --white-color: #fcf9f9;
  --orange-color: #f77319;

  --bg-section-1: #473b94;
  --bg-main: linear-gradient(
    180deg,
    rgba(71, 59, 148, 255) 50%,
    rgba(23, 0, 170, 255) 85%
  );

  --text-primary: #fcf9f9;
  --text-secondary: #f77319;
}

body {
  background: var(--bg-main);
  background-repeat: no-repeat;
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#rectangle {
  width: 100%;
  height: 272px;
  background: linear-gradient(
    -267.67987684905deg,
    var(--bg-section-1) 25%,
    rgba(239, 183, 145, 255) 80%,
    rgba(210, 171, 241, 255) 115%
  );
}
