.container {
  width: 100%;
  height: 100vh;
  background: transparent;
  scroll-snap-align: start;
  padding-top: 115px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 1px;
  overflow-y: auto;
  display: flex;
}

.leftContainer,
.rightContainer {
  /* border: 1px solid black; */
  width: 50%;
  height: 100%;
  padding: 50px;
}

.leftContainer > h1 {
  font-family: var(--font-gumela);
  font-size: 3rem;
  letter-spacing: 3px;
  text-decoration: underline;
}

.leftContainer :nth-child(1) {
  color: var(--text-secondary);
}
.leftContainer :nth-child(2) {
  color: var(--text-primary);
  margin-bottom: 2rem;
}

.field,
.fieldArea {
  height: 45px;
  width: 80%;
  margin-bottom: 2rem;
  border: 3px solid #f8dfb0;
  padding: 0rem 0.7rem;
  border-radius: 10px;
}

.fieldArea {
  height: 200px;
  padding: 0.7rem 0.7rem;
}

.buttonDiv {
  width: 80%;
}

.buttonDiv > button {
  margin-right: 15px;
  float: right;
  position: relative;
  bottom: 80px;

  font-size: 0.9rem;
  font-weight: bold;
  font-family: var(--font-roboto);
  color: var(--white-color);

  padding: 0.5rem 0.5rem;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
}

.inputField,
.inputAreaField {
  position: relative;
}

.inputField input,
.inputAreaField textarea {
  background: transparent;
}

.inputField label {
  display: block;
  font-size: 1.3rem;
  padding: 0px 5px;
  font-family: var(--font-roboto);
  color: var(--text-primary);
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.inputAreaField label {
  display: block;
  font-size: 1.3rem;
  padding: 0px 5px;
  font-family: var(--font-roboto);
  color: var(--text-primary);
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.inputField input:focus ~ label,
.inputField input:valid ~ label,
.inputAreaField textarea:focus ~ label,
.inputAreaField textarea:valid ~ label {
  top: 0;
  left: 15px;
  background: var(--bg-main);
  font-size: 1rem;
}

.rightContainer form {
  margin-top: 100px;
}

@media only screen and (max-width: 979px) {
  .container {
    flex-direction: column;
  }
  .leftContainer,
  .rightContainer {
    width: 100%;
    padding: 15px;
    height: max-content;
  }

  .leftContainer :nth-child(2) {
    margin-bottom: 0px;
  }

  .leftContainer img {
    display: none;
  }

  .buttonDiv > button {
    bottom: 75px;
  }

  .rightContainer form {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-top: 65px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .buttonDiv > button {
    bottom: 65px;
    padding: 0.7rem 0.7rem;
  }
  .field,
  .fieldArea,
  .buttonDiv {
    width: 100%;
  }
}
