.container {
  width: 100%;
  height: 100vh;
  background: transparent;
  scroll-snap-align: start;

  padding-top: 115px;
  margin-bottom: 1px;
  overflow-y: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.swipeContainer {
  /* background:red; */
  padding: 20px 50px 20px 50px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header > h1 {
  font-family: var(--font-gumela);
  font-size: 3rem;
  letter-spacing: 3px;
  text-decoration: underline;
  display: inline;
}

.header :nth-child(1) {
  color: var(--text-secondary);
}
.header :nth-child(2) {
  color: var(--text-primary);
  margin-bottom: 2rem;
}

.box {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inbox {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}

.inbox h2 {
  color: black;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-top: 65px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .swipeContainer {
    padding: 20px;
    height: max-content;
  }

  .box img {
    width: 200px;
    height: 300px;
  }
  .inbox {
    border-radius: 0 0 12px 12px;
    width: 200px;
    height: 60px;
  }
  .inbox h2 {
    font-size: 1.2rem;
  }
  .header {
    margin-top: 0px;
    position: relative;
    bottom: 20px;
  }
}
