.container {
  width: 100%;
  height: 100vh;
  background: transparent;
  scroll-snap-align: start;
  padding-top: 115px;
  margin-bottom: 1px;
  overflow-y: auto;
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
}

.leftContainer,
.rightContainer {
  width: 50%;
  padding: 50px;
}

.leftContainer > h1 {
  font-family: var(--font-gumela);
  font-size: 3rem;
  letter-spacing: 3px;
  text-decoration: underline;
}

.leftContainer :nth-child(1) {
  color: var(--text-secondary);
}
.leftContainer :nth-child(2) {
  color: var(--text-primary);
  margin-bottom: 2rem;
}

.content {
  font-family: var(--font-roboto);
  font-weight: bold;
  word-spacing: 2px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-top: 65px;
  }
}
