.holder {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 20px;
  max-height: 430px;
  margin-top: 5vh;
}

.mainCircle {
  width: 25vw;
  height: 25vw;
  max-height: 300px;
  max-width: 300px;
  min-width: 275px;
  min-height: 275px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subCircle0 {
  width: 25vw;
  height: 25vw;
  max-height: 375px;
  max-width: 375px;
  min-width: 275px;
  min-height: 275px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleElement {
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px 5px rgb(181, 181, 181);
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.subCircle1 {
  width: 25vw;
  height: 25vw;
  max-height: 375px;
  max-width: 375px;
  min-width: 275px;
  min-height: 275px;
  background-color: #7700ff;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.subCircle2 {
  width: 25vw;
  height: 25vw;
  max-height: 375px;
  max-width: 375px;
  min-width: 275px;
  min-height: 275px;
  background-color: #f2b200;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 10%;
}

.inCircle {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgb(200, 200, 200);
}

@media only screen and (max-width: 767px) {
  .subCircle0,
  .subCircle1,
  .subCircle2,
  .mainCircle {
    min-width: 250px;
    min-height: 250px;
  }
  .circleElement {
    margin: 5px;
    width: 50px;
    height: 50px;
  }
  .holder {
    margin-top: 0px;
  }
}
